@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root{
  --font: 'Poppins', sans-serif;
  --font-md: 500;
  --font-reg: 400;
  --font-light: 300;

}

.cv_generated{
    margin-left: 280px;
    border: 1px solid white;
    padding: 30px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
}

.cv_section{
    width: 800px;
    padding: 10px;
    margin-bottom: 20px;
}

.cv_section .personal_section{
    text-align: left;
}

.cv_section{
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.cv_section div{
    margin-bottom: 15px;
}